// colors
$color-primary:#2F327D;
$color-secondary:#FFF2E1;
$color-accent:#F48C06;


$dark:#252641;
// font-size
$font-size-base: 16px;

// space
$space :0.5rem;

// header -hreit
$header-height : 50px;

