@use "../abstracts/variables" as abs;
// hero
.hero-section {
  background-color: abs.$color-secondary;
  min-height: 70vh;
  margin-top: abs.$header-height;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;

  display: flex;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: abs.$space;
}

.hero-text h1 {
  color: abs.$color-primary;

  span {
    color: abs.$color-accent;
  }
}
