//Abstracts
@use "abstracts/resets"; // resets styles
@import "abstracts/variables"; //variables

// base
@import "base/typography"; // font sizes

// componetrs
@import "components/header";

//body
body {
  background-color: #ccc;
}
// wrapper
.wrapper {
  max-width: 1400px;
  margin-inline: auto;
  background-color: #fff;
  padding: $space * 4;
}
