//Abstracts
@use "abstracts/resets"; // resets styles
@use "abstracts/variables" as abs; //variables

// base
/* Poppins font */

@use "base/typography"; // font sizes

// // componetrs
@use "components/header";
@use "components/hero-section";

//body
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  background-color: #fff;
}
// wrapper
.wrapper {
  position: relative;
  max-width: 1400px;
  margin-inline: auto;
  //  padding: ab.$space * 4;
}

header,
section,
footer {
  padding: abs.$space * 4;
}

// section
section h2 {
}

section h2 span {
}

section > p {
}

section h3 {
}
